/*****************************CSS Reset******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

img {
	max-width: 100%;
}

html {
	font-size: 100%;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*********************************Fonts********************************************/

@font-face {
	font-family: flaticon;
	src: url(../fonts/flaticon.eot);
	src: url(../fonts/flaticon.svg);
	src: url(../fonts/flaticon.ttf);
	src: url(../fonts/flaticon.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Intro;
	src: url(../fonts/Intro.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: IntroInline;
	src: url(../fonts/Intro_Inline.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Lobster_1-3;
	src: url(../fonts/Lobster.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PFD;
	src: url(../fonts/PFDinCondensedRegular.eot);
	src: url(../fonts/PFDinCondensedRegular.ttf);
	src: url(../fonts/PFDinCondensedRegular.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PFD_Light;
	src: url(../fonts/PFDinCondensedLight.eot);
	src: url(../fonts/PFDinCondensedLight.ttf);
	src: url(../fonts/PFDinCondensedLight.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PFD_Medium;
	src: url(../fonts/PFDinCondensedMedium.eot);
	src: url(../fonts/PFDinCondensedMedium.ttf);
	src: url(../fonts/PFDinCondensedMedium.woff);
	font-weight: normal;
	font-style: normal;
}

/*********************************Main CSS******************************************/
/*******************fonts********************/
.font_1 {
	font-family: "Intro", sans-serif;
}

.font_2 {
	font-family: "PFD_Light", sans-serif;
}

.font_3 {
	font-family: "PFD_Medium", sans-serif;
}

.font_4 {
	font-family: 'Open sans', sans-serif;
}

.font_5 {
	font-family: "Trebuchet MS", sans-serif;
}

/***********HEADER***********/
body{
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

.h1 {
	font-size: 3.75em;
	font-family: "Intro", sans-serif;
	cursor: default;
}

.h2 {
	cursor: default;
	font-size: 48px;
	text-transform: uppercase;
}

.hr {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #9a211a;
	width: 550px;
	margin: 25px auto;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.btn_order {
	cursor: pointer;
	background-color: #fff;
	color: #9a211a;
	font-size: 1.75em;
	border: 2px solid #9a211a;
	padding: 10px 80px;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
}

.btn_head{
	margin-top: 30px;
}

/* cntBlock */
.cntBlock {
	font-family: 'Open sans', sans-serif;
	width: 100%;
	min-width: 1024px;
	text-align: center;
}

.head_blackout {
	background: url("../img/topBg_5.jpg") fixed top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: -1;
}
.head_blackout:after {
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}

/* .container */

.container {
	width: 90%;
	min-width: 1024px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 6% 0;
}



/* header */

.header {
	position: relative;
	color: #fff;
	max-width: 600px;
	min-width: 600px;
}

.title {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	position: relative;
}

.title::after {
	content: attr(data-name);
	color: rgba(255, 255, 255, 0);
	-webkit-text-stroke: 1px #fff;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 100%;
}

.header__slogan {
	font-size: 3.5em;
	text-transform: uppercase;
	text-shadow: 4px 2px 0 #9a211a;
	cursor: default;
	margin-top: 10px;
}
.header__text{
	font-size: 1.25em;
	text-align: center;
	margin-top: 15px;
	cursor: default;
	color: #b9b9b9;
}

.contacts {
	font-size: 2.25em;
	text-transform: uppercase;
	display: block;
	width: 550px;
	margin: 0 auto;
}
.mail, .phone {
	color: #b9b9b9;
}
.mail:hover, .phone:hover{
	color: #fff;
}
.mail {
	float: left;
}

.phone {
	float: right;
}

/***************HERO****************/
.cntBlock_hero {
	background-color: rgba(18, 18, 20, 0.95);
}

.hero__text{
	font-size: 1.25em;
	text-align: center;
	margin-top: 15px;
	cursor: default;
	color: #b9b9b9;
}

.hero__list {
	margin: 40px auto 60px;
}

.list-title{
	font-size: 1.5em;
	margin-top: 60px;
}
/***list***/


.list {
	list-style: none;
}

.list__item {
	float: left;
}

.list__item_hero {
	width: 33%;
}

.list__title {
	font-size: 2.4em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.list__info{
	font-size: 1.5em;
	margin-bottom: 10px;
}

.list__cost {
	font-size: 3.25em;
	text-transform: uppercase;
	text-shadow: 4px 2px 0 #9a211a;
	margin-bottom: 15px;
}

/*********************Delivery-Banner*************************/

.cntBlock_del-bnr:before {
	content: '';
	top:0;
	left: 0;
	right: 0;
	bottom: 20%;
	background-image: url("../img/1.png");
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: contain;
	z-index: 1;
	position: absolute;
	-webkit-animation-name: MOVE-BG-1;
	-webkit-animation-duration: 200s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.3;
}

.cntBlock_del-bnr:after {
	position: absolute;
	content: '';
	top:0;
	left: 0;
	right: 0;
	bottom: 30%;
	z-index: 3;
	opacity: 0.4;
	background-image: url("../img/2.png");
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: contain;
	-webkit-animation-name: MOVE-BG-1;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.cntBlock_del-bnr {
	background: url("../img/sheep_1.jpg") no-repeat center bottom;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	overflow:hidden;
}



.del-bnr__h2 {
	margin-bottom: 30px;
}

.del-bnr__free {
	position:relative;
	z-index: 2;
	text-transform: uppercase;
	font-size: 4.5em;
	text-shadow: 0px 0px 15px #000;
}

.cntBlock_scheme{
	background: #ccc;
}

/********************Features*************************/

.cntBlock_features {
	background: #320b0b;
}

.features__h2 {
	margin-bottom: 60px;
}

.features__list {
	margin: 0 auto;
}

.list__item_features {
	width: 33%;
	padding: 0 15px;
}

.list__number {
	font-size: 80px;
	text-shadow: 3px 3px 0 #320b0b, 4px 4px 0 #fff;
	margin: 0 auto 25px;
}

.list-desc {
	line-height: 1.5em;
}

/************************Request*****************************/

.cntBlock_request {
	background: #121214;
}

.request__h2 {
	color: #fce9d6;
	margin-bottom: 30px;
}

.request__desc {
	font-size: 1.25em;
	margin: 0 auto 30px;
	width: 820px;
}
.request-form{
	width: 550px;
	margin: 0 auto 60px;
}


.request-form__inputs, .request-form__textarea-wrap, .request-form__download-wrap {
	margin-bottom: 30px;
}

.request-form__input {
	border: none;
	border-bottom: 1px solid #79797A;
	background: none;
	width: 45%;
	color: #fff;
	padding: 4px 0;
	font-size: 16px;
}
.request-form__input_name {
	float: left;
}

.request-form__input_phone {
	float: right;
}

.request-form__textarea {
	border: 1px solid #79797A;
	background: none;
	width: 100%;
	height: 60px;
	resize: none;
	color: #fff;
	padding: 4px;
	font-size: 16px;
	outline:none;
}

.request-form__input:focus, .request-form__textarea:focus {
	background: none;
	border-color: #E8E8E8;
	outline: none;
}

.request-form__download-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.request-form__download-input:focus + label,
.request-form__download-input.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
	background-color: #722040;
}

.request-form__download-label{
	max-width: 80%;
	font-size: 1.25em;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 10px 25px;
	color: #f1e5e6;
	background-color: #d3394c;
}

.request-form__download-label svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	margin-right: 0.25em;
}



/*******************************Testimonials*****************************/

.cntBlock_testimonials {
	background: #320b0b;
}

.testimonials__h2 {
	margin-bottom: 60px;
}

.testimonials__img-wrap {
	margin-bottom: 30px;
}

.testimonials__item {
	line-height: 1.5em;
	width: 820px;
	margin: 0 auto 30px;
}

.testimonials__desc {
	font-style: italic;
	margin-bottom: 15px;
}

.testimonials_author {

}

.bullets {
	width: 200px;
	margin: 0 auto;
}

.bullets__item {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #320b0b;
}

.bullets__item.active {
	background: #fff;
}

/*******************************footer***********************************/

.cntBlock_footer {
	background: url("../img/footer_bg.JPG") fixed no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.cntBlock_footer:before{
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-animation-name: MOVE-BG-2;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
}

.footer{
	position: relative;
}

.footer_btn{
	margin: 40px auto;
}
/*******************************@animation*******************************************/
@-webkit-keyframes MOVE-BG-1 {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -100% 0;
	}
}
@-webkit-keyframes MOVE-BG-2 {
	from {
		opacity: 0.3;
	}
	50%{
		opacity: 0.65;
	}
	to {
		opacity: 0.3;
	}
}