/*****************************CSS Reset******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

img {
	max-width: 100%;
}

html {
	font-size: 100%;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*********************************Fonts********************************************/

@font-face {
	font-family: flaticon;
	src: url(../fonts/flaticon.eot);
	src: url(../fonts/flaticon.svg);
	src: url(../fonts/flaticon.ttf);
	src: url(../fonts/flaticon.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Intro;
	src: url(../fonts/Intro.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: IntroInline;
	src: url(../fonts/Intro_Inline.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Lobster_1-3;
	src: url(../fonts/Lobster.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PFD;
	src: url(../fonts/PFDinCondensedRegular.eot);
	src: url(../fonts/PFDinCondensedRegular.ttf);
	src: url(../fonts/PFDinCondensedRegular.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PFD_Light;
	src: url(../fonts/PFDinCondensedLight.eot);
	src: url(../fonts/PFDinCondensedLight.ttf);
	src: url(../fonts/PFDinCondensedLight.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PFD_Medium;
	src: url(../fonts/PFDinCondensedMedium.eot);
	src: url(../fonts/PFDinCondensedMedium.ttf);
	src: url(../fonts/PFDinCondensedMedium.woff);
	font-weight: normal;
	font-style: normal;
}

/*********************************Main CSS******************************************/

/***********HEADER***********/

a {
	text-decoration: none;
	color: #fff;
}

.h1 {
	font-size: 3.75em;
	font-family: "Intro", sans-serif;
	cursor: default;
}

.font_1 {
	font-family: "Intro", sans-serif;
}

.font_2 {
	font-family: "PFD_Light", sans-serif;
}

.font_3 {
	font-family: "PFD_Medium", sans-serif;
}

.hr {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #9a211a;
	width: 550px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* cntBlock */
.cntBlock {
	width: 100%;
}

.cntBlock_header {
	background: url("../img/header.jpg") no-repeat bottom center;
	-webkit-background-size: cover;
	background-size: cover;
	min-width: 1024px;
	text-align: center;
}

.cntBlock_with-blackout {
	position: relative;
}

.blackout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}

/* .container */

.container {
	width: 90%;
	min-width: 1024px;
	max-width: 1400px;
	margin: 0 auto;
}

/* header */

.header {
	padding: 7.5% 0;
	position: relative;
}

.header__h1 {
	margin-bottom: 30px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	position: relative;
}

.header__h1::after {
	content: attr(data-name);
	color: rgba(255, 255, 255, 0);
	-webkit-text-stroke: 1px #fff;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 100%;
}

.header__img-wrap {
	margin-bottom: 15px;
}

.header__img {

}

.header__slogan {
	font-size: 3.5em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 4px 2px 0 #9a211a;
	cursor: default;
}

.header__hr {
	margin: 25px auto;
}

.header__contacts {
	font-size: 2.250em;
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: 550px;
	margin: 0 auto;
}

.header__mail {
	float: left;
}

.header__phone {
	float: right;
}

/***************HERO****************/
.cntBlock_hero {
	background-color: #121214;
	min-width: 1024px;
	text-align: center;
}

.h2 {
	font-size: 48px;
}

.hero {
	padding: 7.5% 0;
}

.hero__h2 {
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 60px;
}

/***icon-list***/

.hero__icon-list {
	max-width: 700px;
	margin: 0 auto 60px;
	color: #fff;
}

.icon-list {
	list-style: none;
}

.icon-list__icon {
	display: inline-block;
	float: left;
}

.icon-list__icon_hero {
	width: 33%;
	padding: 0 15px;
}

.icon-list__icon::before {
	display: block;
	content: '';
	background: url("../img/mangal_icon1.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 100%;
	height: 264px;
	margin: 0 auto;
}

.icon-title {
	font-size: 2.4em;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.icon-cost {
	font-size: 3.25em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 4px 2px 0 #9a211a;
}

/***btn***/

.btn {
	display: inline-block;
}

.btn_hero {
	background-color: #fff;
	color: #9a211a;
	font-size: 1.75em;
	border: 2px solid #9a211a;
	padding: 30px 80px;
	text-transform: uppercase;
}

/*********************Delivery-Banner*************************/

.cntBlock_del-bnr {
	background: url("../img/delivery_bg.jpg") no-repeat top;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	min-width: 1024px;
}

.del-bnr {
	padding: 7.5% 0;
}

.del-bnr__h2 {
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 30px;
}

.free {
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5em;
}

/*******************************@media*******************************************/
